.profile-nav-pill {
    /* width: fit-content; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px !important;
    /* border: 2px solid var(--border) !important; */
}

.pill-btn {
    background: var(--secondary);
    color: var(--text-primary);
    border: 2px solid var(--border);
    padding: 8px 20px;
    font-size: 14px;
    font-weight: var(--fw-md);
    transition: all var(--transition);
}

.pill-btn-left {
    border-radius: 20px 0px 0px 20px !important;
}

.pill-btn-right {
    border-radius: 0px 20px 20px 0px !important;
}

.pill-btn:hover,
.pill-btn.active {
    background: linear-gradient(270deg, #E9047C 0%, #44122C 100%);
    color: var(--secondary) !important;
    border: 2px solid transparent;
}