.product-description-main {
    display: grid;
    align-items: start;
    justify-content: space-between;
    margin: 24px 0px;
}

.product-description-left {
    background: #FAF1E6;
    border: 2px solid var(--border);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.product-description-left .spotlight-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.product-description-left .body-head {
    padding: 20px;
    width: 100%;
}

.product-description-left .body-head h4 {
    color: var(--text-primary);
    font-weight: var(--fw-lg);
}

.product-description-right {
    background-color: #FAF1F8;
    border: 2px solid var(--border);
    border-radius: 10px;
    height: 100%;
}

.product-description-right .description-text {
    white-space: pre-line;
    line-height: 1.6;
    color: var(--text-secondary);
    font-weight: var(--fw-sm);
}

.fabric-grid {
    display: grid;
    align-items: start;
    justify-content: space-between;
}

.fabric-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.fabric-img {
    border: 2px solid var(--border);
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fabric-img img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    margin: auto;
}

.fabric-div h6 {
    color: var(--text-primary);
    font-weight: var(--fw-sm);
}

@media screen and (min-width: 1098px) {
    .product-description-main {
        grid-template-columns: 48% 51%;
    }

    .product-description-right {
        padding: 20px;
    }

    .fabric-grid {
        grid-template-columns: repeat(7, 1fr);
    }

    .fabric-img {
        width: 70px;
        height: 70px;
    }

    .fabric-div h6 {
        font-size: 12px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1098px) {
    .product-description-main {
        grid-template-columns: 47% 52%;
    }

    .product-description-left {
        width: 100%;
        height: 500px;
    }

    .product-description-right {
        padding: 15px;
    }

    .fabric-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .fabric-img {
        width: 40px;
        height: 40px;
    }

    .fabric-div h6 {
        font-size: 10px;
    }
}

@media screen and (max-width: 767px) {
    .product-description-main {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 16px;
    }

    .product-description-left {
        width: 100%;
        height: 500px;
    }

    .product-description-right {
        padding: 12px;
    }

    .fabric-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .fabric-img {
        width: 40px;
        height: 40px;
    }

    .fabric-div h6 {
        font-size: 10px;
    }
}